[Unit]
Description=Run alt-ui web sync periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=90sec
AccuracySec=30sec
Unit=alt-ui-sync.service

[Install]
WantedBy=timers.target
